<h1>Recipe Search</h1>

<%= form_with url: recipes_path, method: :get, local: true, id: 'ingredient-search-form' do |f| %>
  <div id="ingredients-fields">
    <% if params[:ingredients].present? %>
      <% params[:ingredients].each do |ingredient| %>
        <div class="ingredient-field">
          <%= text_field_tag 'ingredients[]', ingredient %>
          <button type="button"  onclick="removeIngredientField(this)">Remove</button>
        </div>
      <% end %>
    <% end %>
  </div>
  <button type="button" id="add-ingredient" onclick="addIngredientField()">+ Add Ingredient</button>
  <div>
    <label for="dietary-filter">Dietary Restrictions</label>
    <%= select_tag 'dietary_filters[]',
                   options_for_select([['None', 'none'],['Vege (Exclude Meat)', 'meat'], ['Lactose Free (Exclude Dairy)', 'dairy']], selected: params[:dietary_filters]),
                   multiple: true, size: 3 %>
  </div>
  <div>
    <%= submit_tag 'Search Recipes' %>
  </div>
<% end %>

<% if @recipes.present? %>
  <h2>Matching Recipes</h2>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <strong><%= recipe.title %></strong>
        <% if recipe.respond_to?(:matching_percentage) %>
          <h3><%= recipe.matching_percentage %> %</h3>
        <% end %>
        <p>Ingredients: <%= recipe.row_ingredients %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No matching recipes found.</p>
<% end %>

<script>
    function addIngredientField() {
        var fieldHTML = `
      <div id="ingredients-fields">
        <input type="text" name="ingredients[]" placeholder="Enter an ingredient" />
        <button type="button" onclick="removeIngredientField(this)">Remove</button>
      </div>`;
        document.getElementById('ingredients-fields').insertAdjacentHTML('beforeend', fieldHTML);
    }

    function removeIngredientField(button) {
        button.closest('.ingredient-field').remove();
    }
</script>
