<%= link_to 'Back to Search', recipes_path(ingredients: @back_params[:ingredients], dietary_filters: @back_params[:dietary_filters]), class: 'text-blue-500 underline' %>
<h2 class="text-xl font-bold mb-4"><%= @recipe.title %></h2>
<p><strong>Author:</strong> <%= @recipe.author %></p>
<p><strong>Cuisine:</strong> <%= @recipe.cuisine %></p>
<p><strong>Category:</strong> <%= @recipe.category %></p>
<p><strong>Cook Time:</strong> <%= @recipe.cook_time %> minutes</p>
<p><strong>Prep Time:</strong> <%= @recipe.prep_time %> minutes</p>
<p><strong>Ratings:</strong> <%= @recipe.ratings %></p>
<p><strong>Ingredients:</strong></p>
<ul class="list-disc ml-5 mb-4 marker:text-gray-700">
  <% @recipe.row_ingredients.each do |ingredient| %>
    <li class="mb-1"><%= ingredient %></li>
  <% end %>
</ul>
<% if @recipe.image.present? %>
  <img src="<%= @recipe.image %>" alt="<%= @recipe.title %>" class="mt-4 max-w-xs h-auto rounded-lg shadow-md">
<% end %>
